---
import "../styles/generel.css";
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Line Kofod Thomsen">
  <h1 class="ml-28 my-5 fadeInDown">Line Kofod Thomsen</h1>

  <!-- Hero -->
  <section
    class="grid grid-cols-2 items-center justify-items-center ml-10 mr-20 mb-20"
  >
    <img
      class="shadow-[-30px_30px_12px_#4245304D] max-w-lg"
      src="/imgs/line1.webp"
      alt="Portrætfoto af Line Kofod Thomsen"
    />
    <div>
      <div class="h2">
        <h2>Kreativ og detaljeorienteret</h2>
        <span class="gul_border"></span>
      </div>
      <h3 class="mb-3">Multimediedesign studerende</h3>
      <div class="flex flex-col gap-4">
        <p>
          Mit navn er Line og jeg er 24 år gammel. Jeg er en smilende og nede på
          jorden pige, der elsker design og kode. Som digital designer er jeg
          struktureret og detaljeorienteret, hvilket er med til at sikre, at mit
          arbejde ikke kun er visuelt tiltalende, men også funktionelt og
          brugervenligt.
        </p>
        <p>
          Jeg har en hurtig indlæringsevne, og elsker at fordybe mig i tekniske
          og kreative programmer som Figma, Illustrator og VSCode. Når jeg
          arbejder i programmerne lægger jeg stor vægt på at finpudse og
          optimere mine designs, samt at have et struktureret arbejdsrum, så jeg
          aldrig mister overblik.
        </p>
      </div>
    </div>
  </section>

  <!-- Færdigheder -->
  <section class="bg-[#424530] py-20 mb-20">
    <div class="flex flex-row justify-evenly fadeInLeft">
      <!-- Værktøjer -->
      <div class="flex flex-col gap-3">
        <h3 class="uppercase text-[#FCF0D7]">Værktøjer</h3>
        <div class="flex flex-row gap-8 items-center">
          <!-- Figma -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="71"
            viewBox="0 0 50 71"
            fill="none"
          >
            <path
              d="M0.5 13.2848C0.5 5.94902 6.40478 0 13.686 0H36.314C43.5952 0 49.5 5.94902 49.5 13.2848C49.5 17.9303 47.1326 22.0211 43.5402 24.3924C47.1326 26.7637 49.5 30.8545 49.5 35.5C49.5 42.8357 43.5952 48.7848 36.314 48.7848H36.025C32.6115 48.7848 29.5008 47.4812 27.161 45.3318V57.5766C27.161 65.0094 21.1048 71 13.7548 71C6.48736 71 0.5 65.0648 0.5 57.7152C0.5 53.0697 2.86742 48.9789 6.44607 46.6076C2.86742 44.2363 0.5 40.1455 0.5 35.5C0.5 30.8545 2.86742 26.7637 6.44607 24.3924C2.86742 22.0211 0.5 17.9303 0.5 13.2848ZM22.839 26.5695H13.686C8.78596 26.5695 4.82191 30.5633 4.82191 35.5C4.82191 40.409 8.75843 44.4027 13.6309 44.4305C13.6447 44.4305 13.6722 44.4305 13.686 44.4305H22.839V26.5695ZM27.161 35.5C27.161 40.4367 31.125 44.4305 36.025 44.4305H36.314C41.2003 44.4305 45.1781 40.4367 45.1781 35.5C45.1781 30.5633 41.2003 26.5695 36.314 26.5695H36.025C31.125 26.5695 27.161 30.5633 27.161 35.5ZM13.686 48.7848C13.6722 48.7848 13.6447 48.7848 13.6309 48.7848C8.75843 48.8125 4.82191 52.8063 4.82191 57.7152C4.82191 62.6381 8.84101 66.6457 13.7548 66.6457C18.7511 66.6457 22.839 62.5688 22.839 57.5766V48.7848H13.686ZM13.686 4.3543C8.78596 4.3543 4.82191 8.34805 4.82191 13.2848C4.82191 18.2215 8.78596 22.2152 13.686 22.2152H22.839V4.3543H13.686ZM27.161 22.2152H36.314C41.2003 22.2152 45.1781 18.2215 45.1781 13.2848C45.1781 8.34805 41.2003 4.3543 36.314 4.3543H27.161V22.2152Z"
              fill="#FCF0D7"></path>
          </svg>
          <!-- Illustrator -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="71"
            height="71"
            viewBox="0 0 71 71"
            fill="none"
          >
            <path
              d="M28.4199 24H28.3145C27.7792 26.2039 27.2439 29.0029 26.6496 31.1463L24.5 39H32.5L30.245 31.1463C29.6043 28.9468 28.9594 26.2039 28.4199 24Z"
              fill="#FCF0D7"></path>
            <path
              d="M66.2098 0H4.78605C2.4169 0 0.5 1.94428 0.5 4.34728V66.6527C0.5 69.0515 2.4169 71 4.78605 71H66.214C68.579 71 70.5 69.0515 70.5 66.6527V4.34728C70.5 1.94849 68.579 0 66.2098 0ZM36.8381 54.3095L34.0872 45.0383H23.8928L21.3535 54.3095H13.0055L23.8928 18.1887H34.4565L45.5056 54.3095H36.8381ZM57.729 54.3095H49.6921V28.1037H57.729V54.3095ZM53.6628 24.8885C51.1277 24.8885 49.4349 23.0621 49.4846 20.8106C49.4349 18.4496 51.1277 16.6905 53.7209 16.6905C56.3058 16.6905 57.9447 18.4539 57.9945 20.8106C57.9945 23.0621 56.3058 24.8885 53.6628 24.8885Z"
              fill="#FCF0D7"></path>
          </svg>
          <!-- Photoshop -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="72"
            height="71"
            viewBox="0 0 72 71"
            fill="none"
          >
            <path
              d="M24.9565 20.5C23.2552 20.5 22.1005 20.6729 21.5 20.8499V32.2748C22.2159 32.4437 23.0897 32.5 24.2983 32.5C28.7517 32.5 31.5 30.1475 31.5 26.1823C31.4962 22.6273 29.1328 20.5 24.9565 20.5Z"
              fill="#FCF0D7"></path>
            <path
              d="M67.1552 0.5H4.84885C2.44682 0.5 0.5 2.41583 0.5 4.77655V66.2154C0.5 68.5802 2.44682 70.5 4.84885 70.5H67.1552C69.5532 70.5 71.5 68.5802 71.5 66.2154V4.78056C71.5 2.41583 69.5532 0.5 67.1552 0.5ZM36.6483 35.0571C33.6366 37.8627 29.1617 39.1212 23.9472 39.1212C22.7807 39.1212 21.7403 39.0651 20.9274 38.9489V52.7445H12.1606V14.6844C14.8878 14.2315 18.7164 13.8868 24.1179 13.8868C29.5682 13.8868 33.4618 14.9128 36.0671 16.977C38.5748 18.9249 40.2533 22.1313 40.2533 25.9068C40.2533 29.6824 38.9731 32.8768 36.6483 35.0571ZM49.8614 53.3136C46.1385 53.3136 42.8342 52.52 40.6842 51.3697L42.2489 45.1333C43.8747 46.0992 47.244 47.2455 49.8614 47.2455C52.5236 47.2455 53.6291 46.3317 53.6291 44.8968C53.6291 43.4699 52.7593 42.7846 49.455 41.6944C43.5942 39.7505 41.3263 36.6002 41.3832 33.2816C41.3832 28.0792 45.9109 24.1192 52.9341 24.1192C56.2425 24.1192 59.2013 24.8687 60.9408 25.7224L59.3761 31.7345C58.0999 31.0451 55.6653 30.1353 53.2227 30.1353C51.0807 30.1353 49.8655 30.993 49.8655 32.4239C49.8655 33.7385 50.9588 34.4239 54.442 35.6303C59.8394 37.4579 62.1073 40.1513 62.1601 44.2635C62.1601 49.478 57.9739 53.3136 49.8614 53.3136Z"
              fill="#FCF0D7"></path>
          </svg>
        </div>
      </div>
      <!-- Kodesprog -->
      <div class="flex flex-col gap-3">
        <h3 class="uppercase text-[#FCF0D7]">Kodesprog</h3>
        <div class="flex flex-row gap-8 items-center">
          <!-- HTML -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="70"
            height="80"
            viewBox="0 0 70 80"
            fill="none"
          >
            <path
              d="M0.5 0L6.77109 70.6786L34.9102 80L63.2289 70.6786L69.5 0H0.5ZM55.8797 22.8393H22.8531L23.5898 31.6607H55.143L52.6992 58.1607L35.1078 62.9821V63.0357H34.9102L17.175 58.1607L16.0969 44.625H24.668L25.2969 51.4286L34.9102 54.0179L44.5594 51.4286L45.6375 40.3214H15.6477L13.3477 14.3214H56.6703L55.8797 22.8393Z"
              fill="#FCF0D7"></path>
          </svg>
          <!-- CSS -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="70"
            height="80"
            viewBox="0 0 70 80"
            fill="none"
          >
            <path
              d="M0.5 0L6.77109 70.6786L35 80L63.2289 70.6786L69.5 0H0.5ZM56.7602 14.2857L55.8977 22.7321L35.1797 31.5357L35.1258 31.5536H55.1609L52.8609 57.7321L35.2156 62.8571L17.4625 57.6429L16.3125 44.4464H25.0992L25.6742 51.2857L35.1258 53.6607L44.9547 50.9107L45.6195 39.9107L15.7375 39.8214V39.8036L15.7016 39.8214L15.0547 31.5536L35.1977 23.2143L36.3656 22.7321H14.282L13.2398 14.2857H56.7602Z"
              fill="#FCF0D7"></path>
          </svg>
        </div>
      </div>
      <!-- Frameworks -->
      <div class="flex flex-col gap-3">
        <h3 class="uppercase text-[#FCF0D7]">Frameworks</h3>
        <div class="flex flex-row gap-8 items-center">
          <!-- Astro -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="63"
            height="78"
            viewBox="0 0 63 78"
            fill="none"
          >
            <g clip-path="url(#clip0_32_387)">
              <path
                d="M20.624 66.4358C17.0982 63.2147 16.0688 56.4467 17.5378 51.5435C20.0849 54.6349 23.6142 55.6142 27.2698 56.167C32.9132 57.02 38.4555 56.7009 43.698 54.1231C44.2978 53.8279 44.8521 53.4355 45.5074 53.038C45.9993 54.4643 46.1273 55.9042 45.9554 57.3697C45.5377 60.9388 43.7604 63.6959 40.9337 65.7858C39.8033 66.6218 38.6072 67.3691 37.4398 68.1572C33.8533 70.5799 32.8829 73.4205 34.2306 77.5523C34.2626 77.6536 34.2913 77.7542 34.3637 77.9999C32.5325 77.1805 31.1949 75.9879 30.1757 74.4199C29.0992 72.7654 28.5871 70.9348 28.5602 68.954C28.5467 67.9901 28.5467 67.0176 28.417 66.0673C28.1003 63.7505 27.012 62.7131 24.9619 62.6534C22.8578 62.592 21.1934 63.892 20.7521 65.9393C20.7184 66.0963 20.6695 66.2516 20.6206 66.4341L20.624 66.4358Z"
                fill="#FCF0D7"></path>
              <path
                d="M0.5 50.7267C0.5 50.7267 10.9407 45.6436 21.4106 45.6436L29.3045 21.228C29.6001 20.0472 30.463 19.2448 31.4372 19.2448C32.4114 19.2448 33.2743 20.0472 33.5699 21.228L41.4638 45.6436C53.8638 45.6436 62.3744 50.7267 62.3744 50.7267C62.3744 50.7267 44.64 2.44375 44.6053 2.34688C44.0964 0.919379 43.237 0 42.0786 0H20.7976C19.6392 0 18.8146 0.919379 18.271 2.34688C18.2326 2.44193 0.5 50.7267 0.5 50.7267Z"
                fill="#FCF0D7"></path>
            </g>
            <defs>
              <clipPath id="clip0_32_387">
                <rect
                  width="62"
                  height="78"
                  fill="white"
                  transform="translate(0.5)"></rect>
              </clipPath>
            </defs>
          </svg>
          <!-- Tailwind -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100"
            height="60"
            viewBox="0 0 100 60"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M50 0C36.8 0 28.55 6.66667 25.25 20C30.2 13.3333 35.975 10.8333 42.575 12.5C46.3407 13.45 49.032 16.2111 52.0112 19.2648C56.864 24.2407 62.4813 30 74.75 30C87.95 30 96.2 23.3333 99.5 10C94.55 16.6667 88.775 19.1667 82.175 17.5C78.4093 16.55 75.718 13.7889 72.7388 10.7352C67.886 5.75926 62.2687 0 50 0ZM25.25 30C12.05 30 3.8 36.6667 0.5 50C5.45 43.3333 11.225 40.8333 17.825 42.5C21.5907 43.4519 24.282 46.2111 27.2612 49.2648C32.114 54.2407 37.7313 60 50 60C63.2 60 71.45 53.3333 74.75 40C69.8 46.6667 64.025 49.1667 57.425 47.5C53.6593 46.55 50.968 43.7889 47.9888 40.7352C43.136 35.7593 37.5187 30 25.25 30Z"
              fill="#FCF0D7"></path>
          </svg>
          <!-- Animate.css -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="81"
            height="80"
            viewBox="0 0 81 80"
            fill="none"
          >
            <path
              d="M40.303 80C35.7627 75.5056 31.2598 71.0487 26.7946 66.5918C18.2017 58.0524 9.68386 49.5131 1.09099 40.9738C0.303002 40.1873 0.303002 39.7753 1.09099 38.9888C13.8865 26.2921 26.6445 13.5206 39.4024 0.786517C40.4531 -0.262172 40.4531 -0.262172 41.5038 0.786517C54.2617 13.5206 66.9822 26.2547 79.7401 38.9513C80.7533 39.9625 80.7533 39.9625 79.7401 40.9738C72.9484 47.7528 66.1942 54.5318 59.4024 61.3109C53.3236 67.3783 47.2448 73.4831 41.1285 79.5506C40.9034 79.7753 40.7158 80.0749 40.228 79.9625M48.2955 54.6816C49.6839 54.6816 51.0722 54.6816 52.4231 54.6816C53.1735 54.6816 53.4737 54.382 53.4362 53.633C53.4362 52.4345 53.4362 51.236 53.4362 50.0375C53.4362 48.5393 53.4362 48.5019 51.8602 48.5019C51.0722 48.5019 50.772 48.2397 50.772 47.4157C50.772 45.1311 50.8096 42.8464 50.772 40.5618C50.7345 37.9401 50.9597 35.3558 50.5844 32.7341C50.0966 29.2509 48.333 26.6667 45.0685 25.4307C42.3668 24.382 39.515 24.1199 36.5882 24.5318C33.2111 24.9813 30.4343 26.367 28.4456 29.176C28.1829 29.5506 27.8827 29.8876 28.333 30.3371C29.6088 31.6105 30.8471 32.8839 32.273 33.97C32.4231 33.8951 32.4981 33.8951 32.5732 33.8577C32.7983 33.633 33.0234 33.3708 33.2111 33.1461C34.637 31.4981 36.4756 30.7491 38.6144 30.7865C41.5788 30.8614 43.0797 32.397 43.1173 35.3558C43.1173 35.8052 43.1173 36.2172 43.1173 36.6667C43.1923 37.5281 42.8171 37.7903 41.9916 37.7903C39.9278 37.7903 37.8265 37.7528 35.7627 37.8652C32.4606 38.0899 27.8077 40.2996 27.0572 44.2322C26.5694 46.779 26.6445 49.2135 27.8077 51.5356C29.2336 54.382 31.8977 55.4307 34.8246 55.5056C38.1642 55.618 41.9165 54.4569 43.1173 50.412C43.1923 50.1124 43.2674 49.7753 43.8302 49.7004C44.4681 50.5992 44.3555 51.9101 45.1435 52.7715C45.969 53.6704 46.7946 54.4944 48.258 54.6816H48.2955Z"
              fill="#FCF0D7"></path>
            <path
              d="M43.461 46.1563C43.1883 48.6259 40.7338 50.2976 38.0455 49.9557C35.474 49.6517 34.5 48.6259 34.5 46.1563C34.5 43.6107 35.513 42.4708 38.0844 42.1289C39.6039 41.9009 41.0844 42.0529 42.6039 42.0149C43.3052 42.0149 43.5 42.3568 43.5 42.9648C43.5 43.9906 43.5 45.0164 43.5 46.1563H43.461Z"
              fill="#FCF0D7"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- Studiejob -->
  <section
    class="grid grid-cols-2 items-center justify-items-center mr-10 ml-20 mb-20"
  >
    <div>
      <!-- Studiejob -->
      <div class="mb-10">
        <div class="h2">
          <h2>Studiejob</h2>
          <span class="gul_border"></span>
        </div>
        <div class="flex flex-col gap-4">
          <p>
            På 1. semester var jeg så heldig at få et studiejob som
            studentermedhjælper i virksomheden VOCAST, i et team med digitale
            designere.
          </p>
          <p>
            VOCAST er en platform, hvor fashion, design og lifestyle brands får
            hjælp til at dele deres filer og billedmateriale ud til forhandlere,
            presse og andre interesserede, blandt andet igennem et digitalt
            showroom, som vi skræddersyr til deres brand.
          </p>
        </div>
      </div>

      <!-- Kontakt mig -->
      <div>
        <div class="h2">
          <h2>Kontakt mig</h2>
          <span class="gul_border"></span>
        </div>
        <div class="flex flex-col gap-6">
          <!-- Email -->
          <div class="flex flex-row gap-3 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="31"
              viewBox="0 0 40 31"
              fill="none"
            >
              <path
                d="M3.75 0C1.67969 0 0 1.6883 0 3.76923C0 4.95497 0.554688 6.07003 1.5 6.78461L18.5 19.6C19.3906 20.2675 20.6094 20.2675 21.5 19.6L38.5 6.78461C39.4453 6.07003 40 4.95497 40 3.76923C40 1.6883 38.3203 0 36.25 0H3.75ZM0 8.79487V25.1282C0 27.9002 2.24219 30.1538 5 30.1538H35C37.7578 30.1538 40 27.9002 40 25.1282V8.79487L23 21.6103C21.2187 22.953 18.7813 22.953 17 21.6103L0 8.79487Z"
                fill="#252423"></path>
            </svg>
            <Link
              href="https://www.linkedin.com/in/line-kofod-thomsen-87408828a/"
              ><p class="text-3xl">lith0001@stud.kea.dk</p>
            </Link>
          </div>

          <!-- Telefon -->
          <div class="flex flex-row gap-3 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="36"
              viewBox="0 0 35 36"
              fill="none"
            >
              <path
                d="M11.2725 1.83699C10.7461 0.565506 9.3584 -0.111252 8.03223 0.251053L2.0166 1.89168C0.827148 2.2198 0 3.29988 0 4.53035C0 21.4425 13.7129 35.1553 30.625 35.1553C31.8555 35.1553 32.9355 34.3282 33.2637 33.1387L34.9043 27.1231C35.2666 25.7969 34.5898 24.4093 33.3184 23.8829L26.7559 21.1485C25.6416 20.6837 24.3496 21.005 23.5908 21.9415L20.8291 25.3116C16.0166 23.0352 12.1201 19.1387 9.84375 14.3262L13.2139 11.5714C14.1504 10.8057 14.4717 9.52058 14.0068 8.40633L11.2725 1.84383V1.83699Z"
                fill="#252423"></path>
            </svg>
            <Link
              href="https://www.linkedin.com/in/line-kofod-thomsen-87408828a/"
              ><p class="text-3xl">40 48 18 88</p>
            </Link>
          </div>

          <!-- LinkedIn -->
          <div class="flex flex-row gap-3 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="37"
              height="38"
              viewBox="0 0 37 38"
              fill="none"
            >
              <path
                d="M34.3571 0.155273H2.6346C1.18103 0.155273 0 1.35282 0 2.82291V34.4876C0 35.9577 1.18103 37.1553 2.6346 37.1553H34.3571C35.8107 37.1553 37 35.9577 37 34.4876V2.82291C37 1.35282 35.8107 0.155273 34.3571 0.155273ZM11.1826 31.8696H5.69866V14.212H11.1908V31.8696H11.1826ZM8.44062 11.8004C6.68147 11.8004 5.26094 10.3716 5.26094 8.62067C5.26094 6.86978 6.68147 5.44099 8.44062 5.44099C10.1915 5.44099 11.6203 6.86978 11.6203 8.62067C11.6203 10.3798 10.1998 11.8004 8.44062 11.8004ZM31.7391 31.8696H26.2551V23.2803C26.2551 21.2321 26.2138 18.5975 23.4058 18.5975C20.5482 18.5975 20.1105 20.8274 20.1105 23.1316V31.8696H14.6266V14.212H19.8875V16.6236H19.9618C20.6969 15.2361 22.4891 13.7742 25.1567 13.7742C30.7067 13.7742 31.7391 17.4329 31.7391 22.1901V31.8696Z"
                fill="#252423"></path>
            </svg>
            <Link
              href="https://www.linkedin.com/in/line-kofod-thomsen-87408828a/"
              ><p class="text-3xl">LinkedIn</p>
            </Link>
          </div>
          <!-- <Link
            href="https://www.linkedin.com/in/line-kofod-thomsen-87408828a/"
          >
            <span icon="mail"></span>
            <p class="text-3xl">LinkedIn</p>
          </Link> -->
        </div>
      </div>
    </div>
    <img
      class="shadow-[30px_30px_12px_#4245304D] max-w-lg"
      src="/imgs/line2.webp"
      alt="Portrætfoto af Line Kofod Thomsen"
    />
  </section>
</MainLayout>

<script>
  import { inView } from "motion";

  const inviewelement = document.querySelector(".fadeInDown");

  inView(inviewelement, () => {
    inviewelement.classList.add("animate__animated", "animate__fadeInDown");
  });

  const inviewelement2 = document.querySelector(".fadeInLeft");

  inView(inviewelement2, () => {
    inviewelement2.classList.add("animate__animated", "animate__fadeInLeft");
    inviewelement2.style.animationDuration = "1.5s";
  });
</script>
