---
import "../styles/generel.css";
import "animate.css";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/svg+xml" href="../../imgs/favicon.webp" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/ixk6arp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer
      class="text-[#252423] font-['cormorant'] text-xl float-right py-4 px-8"
    >
      © 2024 - Line Kofod Thomsen
    </footer>
  </body>
</html>
